client.startingPortNumber=5000
client.MaxConcurrentMessages=5
client.logbackFilePath=logback.xml
server.cn=shelloid.com
server.ip=rms.shelloid.com
server.port=443
client.useProxy=false
client.logFilePath=xxx